-@number_of_employees_options = ['','1-10','11-50','51-200','201-1,000','1,001-5,000','5,001-10,000','10,001+']
-@revenue_options = ['','$0-$100','$100-$50,000','$50,000-$100,000','$100,000-$500,000','$500,000-$1,000,000','$1,000,000-$5,000,000','$5,000,000-$50,000,000','$50,000,000-$100,000,000','$100,000,000+']
= semantic_form_for(@company, :html => {:multipart => true}) do |f|
  = f.inputs do
    = f.input :name
    = f.input :url, :label => 'Website'
    = f.input :jobs_url, :label => 'Jobs Page URL'
    = f.input :address, :as => :string, :hint => "e.g. 122 Meyran Ave, Pittsburgh, PA 15213"
    = f.input :description
    = f.input :tag_list, :as => :text, :label => 'Tags (industries, topics, etc)', :hint => "Comma separated, please", :input_html => {:class => 'tags'}

    = f.label 'Categories'
    = f.check_box :is_company
    Company
    %br/
    = f.check_box :is_startup
    Startup
    %br/
    = f.check_box :is_accelerator
    Accelerator
    %br/
    = f.check_box :is_organization
    Organization
    %br/
    = f.check_box :is_coworking
    Coworking
    %br/
    = f.check_box :is_investor
    Investor
    %br/
    = f.check_box :is_service
    Service
    %br/



    = f.input :technology_list, :as => :text, :label => 'Technologies used (languages, frameworks, etc)', :hint => "Comma separated, please", :input_html => {:class => 'tags'}

    = f.label 'Number of Employees'
    = select(:company, :number_of_employees, @number_of_employees_options)
    %br/
    %br/
    = f.label 'Revenue'
    = select(:company, :revenue, @revenue_options)

    - if @company.logo.file?
      %li
        .faux_label Current logo
        = image_tag @company.logo.url(:medium) if @company.logo.present?
    = f.input :logo, :label => "Upload a logo", :hint => "Preferably 220px wide or larger"
  = f.buttons
